In [11]:
data = '''+----+-------+-------+------------------+----------+
| ID | Fever | Cough | Breathing issues | Infected |
+----+-------+-------+------------------+----------+
| 1 | NO | NO | NO | NO |
+----+-------+-------+------------------+----------+
| 2 | YES | YES | YES | YES |
+----+-------+-------+------------------+----------+
| 3 | YES | YES | NO | NO |
+----+-------+-------+------------------+----------+
| 4 | YES | NO | YES | YES |
+----+-------+-------+------------------+----------+
| 5 | YES | YES | YES | YES |
+----+-------+-------+------------------+----------+
| 6 | NO | YES | NO | NO |
+----+-------+-------+------------------+----------+
| 7 | YES | NO | YES | YES |
+----+-------+-------+------------------+----------+
| 8 | YES | NO | YES | YES |
+----+-------+-------+------------------+----------+
| 9 | NO | YES | YES | YES |
+----+-------+-------+------------------+----------+
| 10 | YES | YES | NO | YES |
+----+-------+-------+------------------+----------+
| 11 | NO | YES | NO | NO |
+----+-------+-------+------------------+----------+
| 12 | NO | YES | YES | YES |
+----+-------+-------+------------------+----------+
| 13 | NO | YES | YES | NO |
+----+-------+-------+------------------+----------+
| 14 | YES | YES | NO | NO |
+----+-------+-------+------------------+----------+'''

In [12]:
data

'+----+-------+-------+------------------+----------+\n| ID | Fever | Cough | Breathing issues | Infected |\n+----+-------+-------+------------------+----------+\n| 1 | NO | NO | NO | NO |\n+----+-------+-------+------------------+----------+\n| 2 | YES | YES | YES | YES |\n+----+-------+-------+------------------+----------+\n| 3 | YES | YES | NO | NO |\n+----+-------+-------+------------------+----------+\n| 4 | YES | NO | YES | YES |\n+----+-------+-------+------------------+----------+\n| 5 | YES | YES | YES | YES |\n+----+-------+-------+------------------+----------+\n| 6 | NO | YES | NO | NO |\n+----+-------+-------+------------------+----------+\n| 7 | YES | NO | YES | YES |\n+----+-------+-------+------------------+----------+\n| 8 | YES | NO | YES | YES |\n+----+-------+-------+------------------+----------+\n| 9 | NO | YES | YES | YES |\n+----+-------+-------+------------------+----------+\n| 10 | YES | YES | NO | YES |\n+----+-------+-------+------------------+----------+\n| 11 | NO | YES | NO | NO |\n+----+-------+-------+------------------+----------+\n| 12 | NO | YES | YES | YES |\n+----+-------+-------+------------------+----------+\n| 13 | NO | YES | YES | NO |\n+----+-------+-------+------------------+----------+\n| 14 | YES | YES | NO | NO |\n+----+-------+-------+------------------+----------+'

In [13]:
data = data.replace('+','')

In [14]:
data

'----------------------------------------------\n| ID | Fever | Cough | Breathing issues | Infected |\n----------------------------------------------\n| 1 | NO | NO | NO | NO |\n----------------------------------------------\n| 2 | YES | YES | YES | YES |\n----------------------------------------------\n| 3 | YES | YES | NO | NO |\n----------------------------------------------\n| 4 | YES | NO | YES | YES |\n----------------------------------------------\n| 5 | YES | YES | YES | YES |\n----------------------------------------------\n| 6 | NO | YES | NO | NO |\n----------------------------------------------\n| 7 | YES | NO | YES | YES |\n----------------------------------------------\n| 8 | YES | NO | YES | YES |\n----------------------------------------------\n| 9 | NO | YES | YES | YES |\n----------------------------------------------\n| 10 | YES | YES | NO | YES |\n----------------------------------------------\n| 11 | NO | YES | NO | NO |\n----------------------------------------------\n| 12 | NO | YES | YES | YES |\n----------------------------------------------\n| 13 | NO | YES | YES | NO |\n----------------------------------------------\n| 14 | YES | YES | NO | NO |\n----------------------------------------------'

In [15]:
data=data.replace('-','')

In [16]:
data=data.replace('|',',')

In [17]:
data

'\n, ID , Fever , Cough , Breathing issues , Infected ,\n\n, 1 , NO , NO , NO , NO ,\n\n, 2 , YES , YES , YES , YES ,\n\n, 3 , YES , YES , NO , NO ,\n\n, 4 , YES , NO , YES , YES ,\n\n, 5 , YES , YES , YES , YES ,\n\n, 6 , NO , YES , NO , NO ,\n\n, 7 , YES , NO , YES , YES ,\n\n, 8 , YES , NO , YES , YES ,\n\n, 9 , NO , YES , YES , YES ,\n\n, 10 , YES , YES , NO , YES ,\n\n, 11 , NO , YES , NO , NO ,\n\n, 12 , NO , YES , YES , YES ,\n\n, 13 , NO , YES , YES , NO ,\n\n, 14 , YES , YES , NO , NO ,\n'

In [18]:
with open('covid.csv','w') as f:
    f.write(data)
    
print('Arjun')

Arjun

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('covid.csv')

In [21]:
df

    Unnamed: 0   ID   Fever   Cough   Breathing issues   Infected   Unnamed: 6
0          NaN     1     NO      NO                 NO         NO          NaN
1          NaN     2    YES     YES                YES        YES          NaN
2          NaN     3    YES     YES                 NO         NO          NaN
3          NaN     4    YES      NO                YES        YES          NaN
4          NaN     5    YES     YES                YES        YES          NaN
5          NaN     6     NO     YES                 NO         NO          NaN
6          NaN     7    YES      NO                YES        YES          NaN
7          NaN     8    YES      NO                YES        YES          NaN
8          NaN     9     NO     YES                YES        YES          NaN
9          NaN    10    YES     YES                 NO        YES          NaN
10         NaN    11     NO     YES                 NO         NO          NaN
11         NaN    12     NO     YES                YES        YES          NaN
12         NaN    13     NO     YES                YES         NO          NaN
13         NaN    14    YES     YES                 NO         NO          NaN

In [22]:
df.drop(['Unnamed: 0','Unnamed: 6'],axis=1,inplace=True)

In [23]:
df

     ID   Fever   Cough   Breathing issues   Infected
0      1     NO      NO                 NO         NO
1      2    YES     YES                YES        YES
2      3    YES     YES                 NO         NO
3      4    YES      NO                YES        YES
4      5    YES     YES                YES        YES
5      6     NO     YES                 NO         NO
6      7    YES      NO                YES        YES
7      8    YES      NO                YES        YES
8      9     NO     YES                YES        YES
9     10    YES     YES                 NO        YES
10    11     NO     YES                 NO         NO
11    12     NO     YES                YES        YES
12    13     NO     YES                YES         NO
13    14    YES     YES                 NO         NO

In [24]:
#  convert String data to csv

In [29]:
import csv

In [30]:
csv.StringIO(data)
data

'\n, ID , Fever , Cough , Breathing issues , Infected ,\n\n, 1 , NO , NO , NO , NO ,\n\n, 2 , YES , YES , YES , YES ,\n\n, 3 , YES , YES , NO , NO ,\n\n, 4 , YES , NO , YES , YES ,\n\n, 5 , YES , YES , YES , YES ,\n\n, 6 , NO , YES , NO , NO ,\n\n, 7 , YES , NO , YES , YES ,\n\n, 8 , YES , NO , YES , YES ,\n\n, 9 , NO , YES , YES , YES ,\n\n, 10 , YES , YES , NO , YES ,\n\n, 11 , NO , YES , NO , NO ,\n\n, 12 , NO , YES , YES , YES ,\n\n, 13 , NO , YES , YES , NO ,\n\n, 14 , YES , YES , NO , NO ,\n'

In [31]:
pd.read_csv(csv.StringIO(data))

    Unnamed: 0   ID   Fever   Cough   Breathing issues   Infected   Unnamed: 6
0          NaN     1     NO      NO                 NO         NO          NaN
1          NaN     2    YES     YES                YES        YES          NaN
2          NaN     3    YES     YES                 NO         NO          NaN
3          NaN     4    YES      NO                YES        YES          NaN
4          NaN     5    YES     YES                YES        YES          NaN
5          NaN     6     NO     YES                 NO         NO          NaN
6          NaN     7    YES      NO                YES        YES          NaN
7          NaN     8    YES      NO                YES        YES          NaN
8          NaN     9     NO     YES                YES        YES          NaN
9          NaN    10    YES     YES                 NO        YES          NaN
10         NaN    11     NO     YES                 NO         NO          NaN
11         NaN    12     NO     YES                YES        YES          NaN
12         NaN    13     NO     YES                YES         NO          NaN
13         NaN    14    YES     YES                 NO         NO          NaN

In [32]:
df

     ID   Fever   Cough   Breathing issues   Infected
0      1     NO      NO                 NO         NO
1      2    YES     YES                YES        YES
2      3    YES     YES                 NO         NO
3      4    YES      NO                YES        YES
4      5    YES     YES                YES        YES
5      6     NO     YES                 NO         NO
6      7    YES      NO                YES        YES
7      8    YES      NO                YES        YES
8      9     NO     YES                YES        YES
9     10    YES     YES                 NO        YES
10    11     NO     YES                 NO         NO
11    12     NO     YES                YES        YES
12    13     NO     YES                YES         NO
13    14    YES     YES                 NO         NO

In [48]:
df.columns.strip()

AttributeError: 'Index' object has no attribute 'strip'

In [50]:
df.columns=[i.strip()  for i in df.columns]
df.columns

Index(['ID', 'Fever', 'Cough', 'Breathing issues', 'Infected'], dtype='object')

In [51]:
df

    ID  Fever  Cough Breathing issues Infected
0    1    NO     NO               NO       NO
1    2   YES    YES              YES      YES
2    3   YES    YES               NO       NO
3    4   YES     NO              YES      YES
4    5   YES    YES              YES      YES
5    6    NO    YES               NO       NO
6    7   YES     NO              YES      YES
7    8   YES     NO              YES      YES
8    9    NO    YES              YES      YES
9   10   YES    YES               NO      YES
10  11    NO    YES               NO       NO
11  12    NO    YES              YES      YES
12  13    NO    YES              YES       NO
13  14   YES    YES               NO       NO

In [52]:
df['Infected']

0       NO
1      YES
2       NO
3      YES
4      YES
5       NO
6      YES
7      YES
8      YES
9      YES
10      NO
11     YES
12      NO
13      NO
Name: Infected, dtype: object

In [53]:
df['Infected'].value_counts()

 YES     8
 NO      6
Name: Infected, dtype: int64

In [54]:
df['Fever'].value_counts()

 YES     8
 NO      6
Name: Fever, dtype: int64

In [55]:
df['Cough'].value_counts()

 YES     10
 NO       4
Name: Cough, dtype: int64

In [56]:
df['Breathing issues'].value_counts()

 YES     8
 NO      6
Name: Breathing issues, dtype: int64

# Entropy

#Entropy (s) = -Epi * log2(pi)

In [64]:
# Entropy(S) = -8/14 * log2(8/14) - 6/14 *log2(6/14)

# Entropy Of Traget Columns. it is represent by S
# Entropy of (Yes) = -((8/14) * log2 (8/14))
# Entropy of (No) = -((6/14) * log2 (6/14))
# oveal all Entropy
# Entropy(S) = -8/14 * log2(8/14) - 6/14 *log2(6/14)

In [63]:
0.99

0.99

# Informatio Gain

# Fever

In [67]:

# |S| = 14 total Rows in dataset

In [68]:
# for v = yes , |Sv| = 8

In [69]:
# Entropy (Sv)= - (6/8) * log2 (6/8) - 2/8 *log2(2/8)

In [70]:
0.81

0.81

In [71]:
# for v = No ,  |Sv| = 6

In [72]:
# Entropy(s) = -2/6 * log2(2/6) - 4/6 log2 (4/6)

In [73]:
0.91

0.91

In [82]:
 #Information Gain = 0.99 - (8/14) * 0.81 - 6/14 * 0.91 =0.13

In [76]:
8/14

0.5714285714285714

In [77]:
0.99-0.5714285714285714

0.4185714285714286

In [78]:
0.4185714285714286 * 0.81

0.3390428571428572

In [79]:
6/14

0.42857142857142855

In [80]:
0.42857142857142855 * 0.91

0.39

In [81]:
0.3390428571428572- 0.39

-0.05095714285714281

In [ ]:
0.