In [94]:
import pandas as pd

In [108]:
df=pd.read_csv(r'C:\Users\arjun\Downloads\healthcare-dataset-stroke-data.csv')

In [109]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [111]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [6]:
df.shape

(5110, 12)

In [7]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [8]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [9]:
import numpy as np

In [12]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [13]:
df.heart_disease

0       1
1       0
2       1
3       0
4       0
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: heart_disease, Length: 5110, dtype: int64

In [14]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [15]:
df.stroke

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [17]:
df.smoking_status.unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [20]:
pd.get_dummies(df.smoking_status,drop_first=True)

      formerly smoked  never smoked  smokes
0                   1             0       0
1                   0             1       0
2                   0             1       0
3                   0             0       1
4                   0             1       0
...               ...           ...     ...
5105                0             1       0
5106                0             1       0
5107                0             1       0
5108                1             0       0
5109                0             0       0

[5110 rows x 3 columns]

In [112]:
df.drop(['id','gender','age','bmi','smoking_status','Residence_type','ever_married','work_type'],axis=1,inplace=True)

In [113]:
df

      hypertension  heart_disease  avg_glucose_level  stroke
0                0              1             228.69       1
1                0              0             202.21       1
2                0              1             105.92       1
3                0              0             171.23       1
4                1              0             174.12       1
...            ...            ...                ...     ...
5105             1              0              83.75       0
5106             0              0             125.20       0
5107             0              0              82.99       0
5108             0              0             166.29       0
5109             0              0              85.28       0

[5110 rows x 4 columns]

In [36]:
df.drop(['ever_married','work_type','Residence_type','smoking_status'],axis=1,inplace=True)

In [37]:
df

      hypertension  heart_disease  avg_glucose_level   bmi  stroke
0                0              1             228.69  36.6       1
1                0              0             202.21   NaN       1
2                0              1             105.92  32.5       1
3                0              0             171.23  34.4       1
4                1              0             174.12  24.0       1
...            ...            ...                ...   ...     ...
5105             1              0              83.75   NaN       0
5106             0              0             125.20  40.0       0
5107             0              0              82.99  30.6       0
5108             0              0             166.29  25.6       0
5109             0              0              85.28  26.2       0

[5110 rows x 5 columns]

In [107]:
X=df.drop('heart_disease',axis=1)
X

      hypertension  avg_glucose_level  stroke
0                0             228.69       1
1                0             202.21       1
2                0             105.92       1
3                0             171.23       1
4                1             174.12       1
...            ...                ...     ...
5105             1              83.75       0
5106             0             125.20       0
5107             0              82.99       0
5108             0             166.29       0
5109             0              85.28       0

[5110 rows x 3 columns]

In [43]:
y=df['heart_disease']
y

0       1
1       0
2       1
3       0
4       0
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: heart_disease, Length: 5110, dtype: int64

In [44]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report,precision_score,recall_score,f1_score

In [46]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [47]:
model=LogisticRegression()

In [48]:
model.fit(X_train,y_train)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [49]:
X

      hypertension  avg_glucose_level   bmi  stroke
0                0             228.69  36.6       1
1                0             202.21   NaN       1
2                0             105.92  32.5       1
3                0             171.23  34.4       1
4                1             174.12  24.0       1
...            ...                ...   ...     ...
5105             1              83.75   NaN       0
5106             0             125.20  40.0       0
5107             0              82.99  30.6       0
5108             0             166.29  25.6       0
5109             0              85.28  26.2       0

[5110 rows x 4 columns]

In [51]:
X.isna().sum()

hypertension           0
avg_glucose_level      0
bmi                  201
stroke                 0
dtype: int64

In [53]:
x=df.fillna(df['bmi'].mean())

In [64]:
x.drop('heart_disease',axis=1)
x

KeyError: "['heart_disease'] not found in axis"

In [56]:
y=df['heart_disease']
y

0       1
1       0
2       1
3       0
4       0
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: heart_disease, Length: 5110, dtype: int64

In [57]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [58]:
model=LogisticRegression()

In [59]:
model.fit(X_train,y_train)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [67]:
df.isna().sum()

hypertension           0
heart_disease          0
avg_glucose_level      0
bmi                  201
stroke                 0
dtype: int64

In [68]:
df['bmi']

0       36.6
1        NaN
2       32.5
3       34.4
4       24.0
        ...
5105     NaN
5106    40.0
5107    30.6
5108    25.6
5109    26.2
Name: bmi, Length: 5110, dtype: float64

In [69]:
df['bmi'].mean()

28.893236911794666

In [75]:
k=df['bmi'].fillna(df['bmi'].mean(),inplace=True)

In [100]:
X=df.drop(['heart_disease'],axis=1)
X

      hypertension  avg_glucose_level  stroke
0                0             228.69       1
1                0             202.21       1
2                0             105.92       1
3                0             171.23       1
4                1             174.12       1
...            ...                ...     ...
5105             1              83.75       0
5106             0             125.20       0
5107             0              82.99       0
5108             0             166.29       0
5109             0              85.28       0

[5110 rows x 3 columns]

In [101]:
X.isna().sum()

hypertension         0
avg_glucose_level    0
stroke               0
dtype: int64

In [102]:
y=df['heart_disease']
y

0       1
1       0
2       1
3       0
4       0
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: heart_disease, Length: 5110, dtype: int64

In [103]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [104]:
model=LogisticRegression()

In [105]:
model.fit(X_train,y_train)

LogisticRegression()

In [106]:
model.score(X_test,y_test)

0.9481409001956947

In [ ]:
df